<h1>Pontos turísticos por cidade</h1>

<% @groups.each do |group| %>
  <div class="card" style="margin-top: 10px">
    <div class="card-header">
      <%= group.name %>
    </div>
    <ul class="list-group list-group-flush">
      <% group.item.each do |item| %>
        <li class="list-group-item">
          <%= link_to item.description, item_path(item) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>